# dependencies
/node_modules

# VSCode
/.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

#other stuff
ai_devs3_panda_api_key.txt
/aidevs-agent-cracker
/lessons
